$white: #ffffff;
$black: #000000;
$white-transparent: rgba(#ffffff, 0.5);
$black-transparent: rgba(#000000, 0.5);

$lilac: #8e80a9;
$lilac-dark: #8b7eac;
$darkpink: #e65c7b;
$pearl-purple: #8373a1;
$lavender: #fcf8fe;
$light-purple-blue : #c8c0db;
$transparent-purple-blue: rgba(#aea4c8, 0.5);

$text: $lilac;

$mobile-size: 320px;
$tablet-size: 770px;
$desktop-size: 1024px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-width-only: 759px;
$tablet-width-only: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
